[Unit]
Description=mongoDb backup service

[Service]
Type=simple
WorkingDirectory=/mongobackup/src
ExecStart=/mongobackup/src/mongoBackup
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target